---
theme :
  name : twitter
title : Vinay Yadav
---
{% include JB/setup %}
<!DOCTYPE html>
<html>
    <head>
        {% include themes/head.html %}
        {% include themes/head_js.html %}
        <title>404 Error</title>
    </head>
    <body bgcolor="#F3EFE0">
        {% include themes/top_bar.html %}
        <div class="container-narrow">
            <div class="content">
                <div class="middle-box text-center animated fadeInDown">
                    <h1>404</h1>
                    <h3 class="font-bold">Page Not Found</h3>
                    <div class="error-desc">
                        <p>
                        Sorry, but the page you are looking for has not been found. Try checking the URL for error, then hit the refresh button on your browser or try found something else in my website.
                        </p>
                        <div>
                            <a class="btn btn-primary" href="{{ "/" | prepend: site.baseurl }}">Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include themes/bottom_bar.html %}
        {% include JB/analytics %}
    </body>
</html>
