<br/>
<br/>
<div class="navbar-fixed-bottom">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-narrow">
                <ul class="nav">
                    <li><a href="https://github.com/vinayyadav3016" target="_blank"><img src="{{ BASE_PATH }}/assets/icons/github.jpeg" height="20" width="20" alt="Github" /></a></li>
                    <li><a href="https://twitter.com/vinayyadav3016" target="_blank"><img src="{{ BASE_PATH }}/assets/icons/twitter.png" height="20" width="20" alt="Twitter" /></a></li>
                    <li><a href="https://plus.google.com/u/0/+VinayYadav3016" target="_blank"><img src="{{ BASE_PATH }}/assets/icons/gplus.jpeg" height="20" width="20" alt="Google Plus" /></a></li>
                    <li><a href="http://in.linkedin.com/in/vinayyadav3016" target="_blank"><img src="{{ BASE_PATH }}/assets/icons/linkedin.jpeg" height="20" width="20" alt="LinkedIn" /></a></li>
                    <li><a href="https://facebook.com/vinayyadav3016" target="_blank"><img src="{{ BASE_PATH }}/assets/icons/facebook.png" height="20" width="20" alt="Facebook" /></a></li>
                    <li><a href="http://stackoverflow.com/users/3502239/vinay-yadav" target="_blank"><img src="{{ BASE_PATH }}/assets/icons/stackoverflow.jpg" height="20" width="20" alt="Stackoverflow" /></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
