</br>
</br>
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            {% for category in site.categories %}
                {% capture category_url %}/{{ site.category_dir }}/{{ category | first | slugize | downcase | replace:' ','-'}}{% endcapture %}
                <li>
                <a class="list-group-item {% if category_url == page.url %}active{% endif %}" href="#{{ category | first }}-ref">
                    <span class="badge">
                        {{ category | last | size }}
                    </span>
                    <a href="{{ category_url }}">{{ category | first }}</a>
                </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

