<br/>
<br/>
<br/>
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="{{ BASE_PATH }}/pages/CV/index.html">Education</a></li>
            <li><a href="{{ BASE_PATH }}/pages/CV/awards.html">Awards</a></li>
            <li><a href="{{ BASE_PATH }}/pages/CV/publications.html">Publications</a></li>
            <li><a href="{{ BASE_PATH }}/pages/CV/projects.html">Academic Projects</a></li>
            <li><a href="{{ BASE_PATH }}/pages/CV/workex.html">Work Experience</a></li>
            <!--li><a href="{{ BASE_PATH }}/pages/CV/index.html">Videos</a></li-->
            <li><a href="{{ BASE_PATH }}/pages/CV/skills.html">Skills</a></li>
        </ul>
    </div>
</div>
