code {
  padding: 0;
  font-size: 90%;
  color: black;
  background-color: white;
  border: 0px solid white;
}

a code {
    color: #slateblue;
}

a {
    color: #slateblue;
}

a:hover {
    color: darkslateblue;
    background-color: #e3e4fa;
    text-decoration: none;
}

a img {
    border: solid 2px white;
}

a:hover img {
    color: darkslateblue;
    background-color: #e3e4fa;
    text-decoration: none;
    border: solid 2px #e3e4fa;
}

p.center {
    text-align: center;
}

table.wide {
    width: 100%;
}

table.wide td {
    padding-top: 5px;
    padding-bottom: 5px;
}

td.left {
    text-align: left;
}

td.right {
    text-align: right;
}

table.education {
    width: 100%;
}

table.education td {
    padding-top: 5px;
    padding-bottom: 5px;
}

table.education td.left {
    text-align: left;
    width: 20%;
    vertical-align: top;
    padding-right: 0px
}

table.education td.right {
    text-align: justify;
    width: 80%;
    vertical-align: top;
    padding-left: 10px
}

table.project {
    width: 100%;
}

table.project td {
    padding-top: 0px;
    padding-bottom: 0px;
}

table.project td.bullet {
    text-align: left;
    width: 3%;
    vertical-align: top;
    padding-right: 0px
}

table.project td.left {
    text-align: left;
    width: 97%;
    vertical-align: top;
    padding-left: 0px
}

table.award {
    width: 100%;
}

table.award td {
    padding-top: 5px;
    padding-bottom: 5px;
}

table.award td.bullet {
    text-align: left;
    width: 2%;
    vertical-align: top;
    padding-right: 2px
}

table.award td.left {
    text-align: left;
    width: 88%;
    vertical-align: top;
    padding-left: 0px
}

table.award td.right {
    text-align: right;
    width: 10%;
    vertical-align: top;
    padding-left: 0px
}



#hide_email b {
    display: none;
}


h1, h2, h3, h4 {
    color: darkslateblue;
}

tr.hr {
  padding: 0px
}

td {
  padding: 0px
}

hr {
  padding: 0px
}
